/*

#F4F4F2
#FAF0CA
#F4D35E
#EE964B
#F95738

*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.title-position {
  display: block;
  padding-left: 20px;
  height: 100%;
}

.top-title {
  background-color: #F95738;
  height: 10%;
}

.card{
  margin: 5% 0%;
  background-color: #F4d35E;
}
  
.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}