/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin-top: 0px;}
body { background-color: #FAF0CA; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
